{{ 'section-carousel.css' | asset_url | stylesheet_tag }}

<script>
    var elem = document.querySelector('.main-carousel');
var flkty = new Flickity( elem, {
  // options
  cellAlign: 'left',
  contain: true,
  wrapAround: true
});

</script>

<div class="page-width">
  <div class="main-carousel">
    {% for block in section.blocks %}
    <div class="carousel-cell project-card">
      <div class="card-img-{{ block.id }}">

      </div>
      <h3>{{ block.settings.project }}</h3>
      <p>{{ block.settings.project_summary }}</p>
    </div>
    <style>
        .card-img-{{ block.id }} {
            background-image: url("{{ block.settings.image | image_url: width: 450 }}");
            background-size: cover;
            width: 300px;
            height: 300px;
        }
    
    </style>
    {% endfor %}
    
  </div>
</div>

{% schema %}
{
  "name": "Carousel",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "Card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "project",
          "label": "Project Name",
          "default": "Project Name"
        },
        {
          "type": "richtext",
          "id": "project_summary",
          "label": "Project Summary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel"
    }
  ]
}
{% endschema %}
